<div class="container">
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>
        <mat-icon>credit_card</mat-icon>Credit Card:
      </mat-label>
      <input  matInput type="text" name="card_no" matInput [(ngModel)]="card.card_no" (keyup)="onKey($event)" />
    </mat-form-field>
    <div *ngIf="err">
      <ul>
        <li *ngIf="regex_message">{{regex_message}}</li>
        <li *ngIf="error_message">{{error_message}}</li>
      </ul>
    </div>
    <div>
      <article> {{card.card_type}}</article>
    </div>


</div>